<%- include('../partials/header') %>
  <img src="./images/logo.jpg" alt = "Logo">
 <h1><%=title%></h1>
   <h3>Aim</h3>
<p>Our aim is to ignite the spark of adventure within every traveler and help them create unforgettable memories that will last a lifetime. We believe that travel is not just a means of escaping the mundane, but a way to enrich our lives, broaden our horizons, and foster a deeper understanding of the world and its people.

We are committed to responsible tourism and believe that travel should be sustainable and socially responsible. We promote ethical and eco-friendly travel practices, supporting local communities and preserving the natural beauty of our country.</p>

<h3>Values</h3>
<p>Authenticity: We believe in promoting authentic cultural experiences and respecting the traditions and customs of the places we visit.<br>
Sustainability: We strive to be responsible travelers and promote sustainable tourism practices that protect the environment and support local communities.<br>
Customer-centricity: Our customers are at the center of everything we do. We are committed to providing excellent customer service and creating personalized experiences that meet their unique needs and preferences.<br>
Transparency: We believe in being transparent and honest in our communications, pricing, and business practices.</p>
  
  <br>
  <p><em>This site was built using Node.js, Express.js and EJS templates by XXX</em></p>
<%- include('../partials/footer') %>