<%- include('../partials/header') %>
 <h1><%=title%></h1>
  <h3>Yohannes IV</h3>
<img src="./images/Yohannes.jpg" alt = "Picture of Lucy">
<p>Yohannes IV (Tigrinya: ዮሓንስ ፬ይ) was Emperor of Ethiopia from 1871 to his death in 1889 at the Battle of Gallabat, and king of Tigray from 1869 to 1871. In his earlier years, he rebelled against Tewodros II; having risen to power in the 1860s, he maintained the policy of Tewodros, that of continued unification and also implemented a policy of touring entire regions and meetings with governors. Yohannes also worked to modernize Ethiopia's economy and infrastructure, introducing new technologies and encouraging trade and industry. He built roads and bridges, established a postal system, and initiated reforms to improve agriculture and education. He was a strong advocate for Ethiopian unity and worked to bring together the country's diverse regions and ethnic groups.</p>
  <br>
  <p><em>This site was built using Node.js, Express.js and EJS templates by XXX</em></p>
  <p>This code sets up a web application using Express.js and EJS. It serves pages about "Danok Discovery" through different routes, each rendering a specific view with relevant titles. The root URL displays the homepage, while "/history," "/place," and "/about" show history, place, and about pages, respectively. Static files are handled using express.static(). The application provides information about "Danok Discovery" with Express.js for routing, EJS for dynamic content, and static file serving for a comprehensive user experience.</p>
<%- include('../partials/footer') %>