<%- include('../partials/header') %>
 <h1><%=title%></h1>
  <h3>Cradle of Humanity</h3>
  <img src = "./images/Lucy.jpg" alt = "Picture of Lucy">
<p>Lucy Ethiopia, a very old discovered skeleton is a surprising find not only for its scientific inputs but also for its complete body structure. Lucy is not only a skull of part of bone structure, but it is also 40 percent complete humanoid found in the world. Lucy Ethiopia is a 3.2 million old skeleton of evolving ape that was found in 1974 in Hadar the site of Awash valley, Afar, Ethiopia. Australopithecus Afarensis Lucy was the primary Australopithecus Afarensis to be found, yet there has been in excess of 300 disclosures of the species to date.</p>
    <br>
  <p><em>This site was built using Node.js, Express.js and EJS templates by XXX</em></p>
  
<p>This code sets up a web application using Express.js and EJS. It serves pages about "Danok Discovery" through different routes, each rendering a specific view with relevant titles. The root URL displays the homepage, while "/history," "/place," and "/about" show history, place, and about pages, respectively. Static files are handled using express.static(). The application provides information about "Danok Discovery" with Express.js for routing, EJS for dynamic content, and static file serving for a comprehensive user experience.</p>
<%- include('../partials/footer') %>