<%- include('../partials/header') %>
 <h1><%=title%></h1>
<h3>Obelisk of Axum</h3> 
<img src="" alt = "Picture of Lucy">
<p>The Obelisk of Axum is found in Axum, Tigray Region and is a 4th-century CE, 24-metre (79 ft) tall phonolite stele, weighing 160 tonnes (160 long tons; 180 short tons), in the city of Axum in Ethiopia. It is ornamented with two false doors at the base and features decorations resembling windows on all sides. The obelisk ends in a semi-circular top, which used to be enclosed by metal frames. </p>

<h3>Dallol</h3> 
<img src="" alt = "Picture of Lucy">
<p>Dallol is a locality in the Dallol woreda of northern Ethiopia. Located in Kilbet Rasu, Afar Region in the Afar Depression, it has a latitude and longitude of 14°14′19″N 40°17′38″E with an elevation of about 130 metres (430 ft) below sea level. Dallol is also one of the most remote places on Earth, but paved roads to the nearby village of Hamedela are being built. Still, the most important mode of transport besides off-road vehicles are the camel caravans that travel to the area to collect salt.</p> 

  <br>
  <p><em>This site was built using Node.js, Express.js and EJS templates by XXX</em></p>
<%- include('../partials/footer') %>